OPENAI_API_KEY=sk-or-v1-...
LOCAL_LLM_MODEL="phi3.5" # se usi Ollama (vedi ollama list)
LOCAL_LLM_URL="http://localhost:1234/v1"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="..."
LANGCHAIN_PROJECT="aris"