# Ignora la cartella di collegamento a Drive
drive.lnk

# Ignora file di sistema Windows
Thumbs.db
desktop.ini

# Ignora chiavi API
.env

# Ignora file dentro vector_db (database di vettori)
vector_db/chroma_*/chroma.sqlite3
vector_db/chroma_*/*/*.bin